# Virtual environment
.venv/

# Old code
Old framework/

# Python cache
__pycache__/
*.pyc

# Slurm output
*.err
*.out

# Animation frames
Plots/Animations/F samples frames/
Plots/Animations/Q samples frames/

Python_files/create_Q.slurm
Python_files/long_chain.slurm
Python_files/test_num_gals.slurm
Python_files/test_num_warmup.slurm
